@use '../global' as *;

.l-footer {
  padding: rem(30) 0;
  text-align: center;
  &__copy {
    font-size: rem(12);
    font-feature-settings: 'palt';
    font-weight: 400;
    line-height: 1.8;
    letter-spacing: 0.36px;
    text-align: center;
  }
}
